/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[探]ogs/
/[MemoryCaptures]/
ASetStorePackages/
ExportedObj/
.consulo/
.gradle/
Builds/
UnityConfiguration.gen.cpp
*.csproj
*.unitypackage
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.meta
